[user]
	name = kpratt
	email = keynan.pratt@gmail.com
[push]
	default = upstream
[color]
	ui = auto
[alias]
	lod = log --oneline --decorate
	search = grep -n
	unstage = reset HEAD --
	last = log -1 HEAD
	gup = smart-pull
    	gm = smart-merge
    	gl = smart-log
[core]
	excludesfile = /Users/kpratt/.gitignore_global
	editor = emacs
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
